@import "tailwindcss";
@config "../tailwind.config.js";

*{
 @apply box-border;
}

body{
    width: 100vw;
    height: 100vh;
    @apply min-h-screen bg-gradient-to-b from-[#D2DBDD] via-[#E0E6DB] to-[#EDEEDB] m-0 p-0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.page-container{
    @apply w-screen h-full;
}