@import "tailwindcss";
@config "../tailwind.config.js";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
<<<<<<< HEAD

=======
>>>>>>> 4af9dce (crearea compomentelor de baza)
.page-container{
    @apply w-screen h-screen;
}